:root {
    /* --primary: #40826d;
    --secondary: #69a894;
    --tertiary: #91cbb9;
    --fourth: #b6e7d8;
    --fifth: #ddfff5; */
    --primary: #f7655e;
    --secondary: #f38375;
    --tertiary: #f7a399;
    --fourth: #fbc3bc;
    --fifth: #ffe3e0;
    --black: #121212;
    --white: #ececec;
}

html, body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#main {
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    opacity: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#loading {
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--black);
    transition: opacity 8s ease-out;
}

#message {
    text-align: center;
    transition: opacity 2s ease-in-out;
    position: absolute;
    top: 1rem;
    font-size: 25pt;
    z-index: 2;
    font-family: 'Varela Round', 'Amatic SC', 'Annie Use Your Telescope';
    font-weight: 400;
    font-style: normal;
    color: var(--white);
    letter-spacing: 0.75rem;
    text-shadow: 1px 2px 0 red;
    /* -webkit-text-fill-color: var(--secondary);
    -webkit-text-stroke: 2px white; */
    padding: 1rem;
}

.cursor {
    display: inline-block;
    width: 8px;
    height: 1em;
    /* background: white; */
    text-shadow: 0 0 0 var(--white);
    color: var(--fourth);
    animation: blink 0.7s infinite alternate;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

audio {
    z-index: -1;
}

#language-choice {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); /* Semi-transparent black background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 101;
    opacity: 1;
    transition: opacity 2s ease-out;
}

#language-choice h2 {
    color: var(--white);
    font-size: 40pt;
    margin-bottom: 20px;
    flex-direction: row;
    font-family: 'Varela Round';
}

#mandarin {
    font-family: "Chiron Hei HK", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

#language-choice button {
    font-size: 25pt;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    background: rgba(0, 0, 0, 0);
    color: var(--primary);
    border-radius: 5px;
    transition: 0.3s;
    font-family: 'Varela Round';
    font-weight: bold;
}

#language-choice button:hover {
    background: var(--fourth);
}